<%- include ("header") %> 
<body class="body">
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% for (i=0 ; i<newItems.length; i++){%>
        <div class="item">
            <input type="checkbox">
            <p><%= newItems[i]%></p>
        </div>
        <%  }  %>

        <form class="item" action="/" method="post"> 
            <input type="text" name="upNext" placeholder="What´s next" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %> class="button">+</button>
        </form>
    </div>
</body>
<%- include ("footer") %> 